.Rproj.user
.Rhistory
.RData
.Ruserdata
results
bedfiles
benchmarks
coverage
dag.png
extracted_reads
genome
logs
mapped_reads
mapped_reads_thin
thinned_genome
.snakemake
dag.pdf
dag.ps
filegraph.png
rulegraph.png
/data
resources
README.html
dag.svg
filegraph.svg
/rulegraph.svg
MULTI_RUN_RESULTS
*.fai

